*{
  font-family: 'Noto Serif', serif;
}

.jump-top-container{
  display: none;
  width: 60px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 19%;
  z-index: 10;
  color: #fff;
  background-color: rgb(211,28,19);
  border-radius: 8px;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
  padding-top: 3px;
  border: 1px solid #ccc;
}

.top-container{
  overflow: hidden;
}

.focus-nav {
    position: fixed;
    z-index: 1000;
    height: 45px;
    width: 100vw;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
}

.tempnav-stud {
    top: 45%;
    transform: translateY(-50%);
    left: 20px;
    position: absolute;
}

.tempnav-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
}

.tempnav-title > h1 {
    font-family: 'Noto Serif', serif;
    color: white;
    font-weight: 900;
    font-size: 1.7em;
    margin: 0;
}

.topnav img{
  height: 25px;
}

.logo-overlay{
  position: absolute;
  z-index: 2;
}

#background-img-overlay{
  position: absolute;
  width: 100vw;
  min-height: 80vh;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

body{
  background-color: #f8f8f8;
}

#header-container{
  min-height: 80vh;
  background: url("../img/background.png") no-repeat center top;
  background-size: cover;
  text-shadow: 2px 2px 8px #222;
}

#header-container h1{
  z-index: 2;
  font-family: 'Noto Serif', sans-serif;
  font-weight: 900;
  font-size: 60px;
}

#head-title{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 2px;
  font-weight: 800;
}

.jumpnav-small{
  display: none;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  color: rgb(211,28,19);
}

.jumpnav-small a{
  color: rgb(211,28,19);
}

.jumpnav-large{
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;

}

.jumpnav-large a{
  color: rgb(211,28,19);
  font-size: 25px;
}

.map-container{
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

#map{
  width: 80%;
  height: 650px;
  border: none;
}

h2{
  padding-left: 2px;
  margin-bottom: 0px;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  margin-top: 20px;
}

.article-col{
}

.letter-col p, .article-col p{
  font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.divider-1{
  width: 100%;
  border: 1px solid rgb(211,28,19);
  margin-bottom: 15px;
}

.intro-message{
  padding-top: 32vh;
  color: #fff;
  font-family: 'Noto Serif', serif;
  font-weight: 900;
  font-size: 3em;
  text-align: center;
}

.dataContainer{
  height: 70vh;
  overflow: scroll;
}

.dataTable{
  /* width:100%; */
  overflow: auto;
  margin: 0;
}
thead th {
  position: sticky;
  top: 0;
  background-color: rgb(211,28,19);
  color: white;
  font-size: 18px;
}
.dataTable table, .dataTable th, .dataTable td{
  /* border: 1px solid #ccc; */
}
.dataTable th{
  padding: 10px;
}
.dataTable tbody{
  vertical-align: top;
}
.dataTable td{
  /* width: 100px !important; */
  padding-left: 10px;
  padding-right: 10px;
}
tr:nth-child(even) {background-color: #f2f2f2;}

#contact{
  padding-top: 30px;
}

@media (max-width: 950px){
.tempnav-title{
  display: none;
}

#header-container h1{
  font-size: 40px;
}

.jumpnav-large{
  display: none;
}

.jumpnav-small{
  display: block;
}

}

footer{
  padding-top: 40px;
}
